---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Raleway', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.site-footer {
	.linkedin-logo {
		display: flex;
		align-items: center;

		img {
			margin-right: 4px;
			width: 15px;
		}
	}
}

.site-title {
    margin-top: 14px;
	text-decoration: none !important;

	img {
	    border-radius: 20px;
	    box-shadow: 0 0 0px 7px rgba(255,255,255,0.4);
	    border: 6px solid rgba(40, 40, 40, 0);
	}

	.title {
		padding: 0 1rem;
		font-weight: bold;
	}

	.description {
	    font-size: 1rem;
    	padding-left: 1rem;
    }
}

.site-nav {
    width: 16vw;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;    
    line-height: initial;

    > .trigger {
	    display: flex;
	    justify-content: center;
	    align-items: center;
    }
}

.site-header {
    border-top: 5px solid #424242;
    min-height: 56px;
    position: relative;
    border-bottom: 8px solid #fefefe;
    box-shadow: 0 0 0 1px #aaa;

	> .wrapper {
	    display: flex;
	    flex-flow: column;
	    justify-content: center;
	    align-items: center;
	}
}

img.parallax-slider {
    left: 0 !important;
    right: 0 !important;
    max-width: 100% !important;
}